// A11Y
[aria-hidden="true"] {
	display: none;
}

.sr-only:not(:focus):not(:active) {
	clip: rect(0,0,0,0);
	clip-path: inset(100%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
	border:none;display:block;height:0;overflow:hidden;position:absolute;width:0
}

.link-skip[href] {
	position: relative;
	display: block;
	font-size: 1.5rem;
	line-height: 1.1;
	padding: 1em;
	background: #f1f1f1;
	border: .25em solid #214c54;
	color: #214c54;
	text-align: center;
	transition: opacity .2s ease-in;
	z-index: 10001;
	opacity: 0;	
}

.link-skip:focus {
	opacity: 1;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0s !important;
        transition-duration: 0s !important;
    }
}