@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

html {
     box-sizing: border-box;
}

body {
    margin: auto; 
    background-color: rgb(247, 247, 247);
    font-family: 'Lora', serif;
}

/* TYPOGRAPHY */

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: 'Merriweather', 'Lora', 'Georgia', serif;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.8;
}

a {
  color: hsl(203, 100%, 33%);
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-heavy {
  font-weight: 700;
}

/* POSITIONING */

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}

/* ==== GRID SYSTEM ==== */

.container, .wide-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}


.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.col-1-sm {
  width: 4.33%;
}

.col-2-sm {
  width: 12.66%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.33%;
}

.col-5-sm {
  width: 37.66%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.33%;
}

.col-8-sm {
  width: 62.66%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.33%;
}

.col-11-sm {
  width: 87.66%;
}

.col-12-sm {
  width: 96%;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

.hidden-sm {
  display: none;
}

@media only screen and (min-width: 33.75em) {  /* 540px */
  .container, .wide-container {
	width: 80%;
  }
}

@media only screen and (min-width: 45em) {  /* 720px */
  .col-1 {
	width: 4.33%;
  }

  .col-2 {
	width: 12.66%;
  }

  .col-3 {
	width: 21%;
  }

  .col-4 {
	width: 29.33%;
  }

  .col-5 {
	width: 37.66%;
  }

  .col-6 {
	width: 46%;
  }

  .col-7 {
	width: 54.33%;
  }

  .col-8 {
	width: 62.66%;
  }

  .col-9 {
	width: 71%;
  }

  .col-10 {
	width: 79.33%;
  }

  .col-11 {
	width: 87.66%;
  }

  .col-12 {
	width: 96%;
  }

  .hidden-sm {
	display: block;
  }
}

@media only screen and (min-width: 60em) { /* 960px */
  .container {
	  width: 75%;
	  max-width: 60rem;
  }
  
  .wide-container {
	width: 85%;
	max-width: 80rem;
  }
}

.img-full {
    width: 100%;
}
.img-65 {
  width: 65%;
  height: 65%;
}
.img-75 {
    width: 75%;
    height: 75%;
}
.img-50 {
    width: 50%;
    height: 50%;
}

.img-portfolio {
  max-height: 500px;
  height: 100%;
  width: auto;
  margin-right: 35px;
  box-shadow: 0px 0px 10px color(srgb 0 0 0 / 0.1);
}

.alexander {
    text-align: center;
    font-family: 'Goudy Bookletter 1911', serif;
    margin-bottom: 50px;
    color: rgb(0, 168, 120);
}

.alexander:before {
    content: "â†\2000\2000\2000\2000\2000"
}

/*.alexander:after {
    content: "ó € \2000\2000\2000\2000\2000"
}*/

.orange {
    color: rgb(242, 76, 0);
}
.blue {
    color: rgb(0, 117, 196);
}
.green {
    color: rgb(0, 168, 120);
}
.purple {
    color: rgb(149, 63, 193);
}

.my-row {
    width: 100%;
    margin: auto;
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}


.center {
    text-align: center;
}

.col {
    width: 100%;
    margin: auto;
    text-align: left;
}

.col-left {
    width: 45%;
    text-align: left;
    margin-left: auto;
    margin-right: 5%;
}

.col-right {
    width: 45%;
    text-align: left;
    margin-right: auto;
    margin-left: 5%;
}

.col-section {
    margin-bottom: 40px;
}

.col-section .header {
    text-align: center;
}

.col-section h2 {

}

.col-section ul {
    list-style-type: none;
    padding: 0;
}

.col-section li {
    font-size: 20px;
    display: flex;
    align-items: baseline;
    margin-bottom: 5px;
}


.col-section li > * {
  padding: 5px;
  margin: 0;
}

.col-section .dots {
  flex: 1;
  overflow: hidden;
}

.col-section .dots:after {
    content: ' .............................................................................................................................................................. ';
}

.card {
  display: flex;
  //border: 1px solid color(srgb 0 0.757 0.883);
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  background: color(srgb 0.827 0.894 0.894 / 0.148);
  box-shadow: black;
}

.card-app {
  width: 20%;
  height: 20%;
  transform: rotate(-5deg) translateX(-10px);
  margin-right: 20px;
  border-radius: 20px;
}

.title-app {
  width: 15%;
  height: 15%;
  transform: rotate(-5deg) translateX(-10px);
  margin-top: 20px;
  margin-bottom:15px;
  border-radius: 20px;
}

.card-symbol {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 2em;
}

.card-description {
  margin-top: auto;
  margin-bottom: auto;
}


.toc {
    text-align: center;
    font-family: 'Goudy Bookletter 1911', serif;
}
.toc h2 {
    margin: 0;
}

.toc h1 {
    margin-top: 0;
    margin-bottom: 50px; 
    position: relative;
}

.toc:hover h1:after{
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 2s infinite;      
    animation: ellipsis steps(4,end) 2s infinite;
    content: "...."; /* ascii code for the ellipsis character */
    width: 0px;
}

.toc:hover h1:before{
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 2s infinite;      
    animation: ellipsis steps(4,end) 2s infinite;
    content: "\2008\2008\2008\2008";
    width: 0px;
}


@keyframes ellipsis {
  to {
    width: 32px;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 40px;    
  }
}

.stanley {
    background-color: black;
    font-size: 200px;
    color: rgb(247, 247, 247);
    height: 900;
    width: 75;
    font-family: "Blackberry";
}

hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr:after {
    background: rgb(247, 247, 247);
    content: '-';
    padding: 0 4px;
    position: relative;
    top: -13px;
}

.card-description {
  color: black;
}

.noclick:hover {
    cursor: progress;
}

.text-column a:hover {
    text-decoration: none;
}

a:hover {
  opacity: .7;
}
a:link {
}
a:visited {
}
a:active {
}

p.drop-cap:first-letter {  
  float: left;
  font-size: 2.5em;
  line-height: 1em;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}


.text-column {
    width:80%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    /*text-align: justify;*/
}

.text-column p {
    font-size: 1.5em;
    margin-top: 5px;
    margin-bottom: 30px;
    line-height: 150%;
}

.text-column p .goudy {
    line-height: 100%;
}

p {
   font-size: 1.8em; 
   margin: 0px;
}

p.small-p {
  font-size: 1.3em;
  margin-top: 5px;
  margin-bottom: 15px;
  line-height: 150%;
}

.text-column h3 {
  margin: 0px;
  margin-top: 30px;
  font-size: 2.25em;
  font-family: 'Goudy Bookletter 1911', serif;
}

.text-column h2 {
  margin-top: 50px;
  font-size: 1.8em;
  font-family: 'Goudy Bookletter 1911', serif;
}

.tooltip {
  position: relative;
  display: inline-block;
  /*border-bottom: 1px dotted black;*/
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

a.spectrum {
    color:rgb(111, 202, 149);
}

a.spectrum:hover {
    text-decoration: none;
    padding-bottom: 0px;
    box-shadow: 0 2px rgb(111, 202, 149);
}

.align-right {
  text-align: right;
}


@media screen and (max-width: 600px) {
    .desk-drawing {
        width: 100%;
    }
    .tooltip .tooltiptext {
        display: none;
    }
    .text-column {
        width:90%;
    }

    .text-column p {
        font-size: 1.2em;
    }

    .masonry .item {
        border: 0px solid black;
        box-shadow: 0px 0px rgb(0, 168, 120);
    }

    .col-section .dots:after {
        content: '';
    }

    .col-left {
        width: 100%;
        text-align: center;
        margin: auto;
    }

    .col-right {
        width: 100%;
        text-align: center;
        margin: auto;
    }
}

/* GALLERY */

/* Box-sizing reset: //w3bits.com/?p=3225 */

*, *:before, *:after {
  box-sizing: inherit;
}

/* The Masonry Container */
.masonry {
  margin: 1.5em auto;
  max-width: 768px;
  column-gap: 1.5em;
}

/* The Masonry Brick */
.masonry .item {
  background: white;
  padding: 2em;
  margin: 0 0 1.5em;
  border: 2px solid black;
  box-shadow: 4px 4px rgb(188, 210, 203);
}

.masonry .item p {
    padding-bottom: 1em;
}

/* Masonry on large screens */
@media only screen and (min-width: 1024px) {
    .masonry-reg {
        column-count: 3;
    }

    .masonry-big {
        column-count: 2;
    }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .masonry-reg {
        column-count: 3;
    }
    .masonry-big {
        column-count: 2;
    }
}

/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 540px) {
    .masonry-reg {
        column-count: 2;
    }
    .masonry-big {
        column-count: 2;
    }
}

.profile,
.rainbow {
    margin-left: auto;
    margin-right: auto;
}

.end {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
}

.coming-soon {
    color: gray;
    font-size: .6em;
}


/*  */

.bullet-grid {
  display: flex;
  flex-wrap: wrap;
}

.bullet-grid li {
  list-style: square;
  margin-right: 30px;
  margin-bottom: 10px;
  width: 20%;
  font-size: 0.9em;
}

.gallery {
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
  overflow-x: auto;
  padding-bottom: 15px;
}

.rnd {
  border-radius: 20px;
}


.profile {
  margin-top: 1rem;
  border-radius: 50%;
  max-width: 350px;
  height: auto;
  aspect-ratio: 1/1;
}

.rainbow {
  max-width: 350px;
  height: auto;
}

.hero {
  font-family: 'Merriweather', serif;
  font-weight: 900;
}