---
layout: base
---

<article class="d-flex d-flex__column flow">
  <a href="/art/" class="back-link"><span aria-hidden="true">&larr; </span>Back to Art</a>
  <h1>{{ title }}</h1>
  {{ content | safe }}
</article>