---
layout: base
---

<div class="flow" style="--flow-space: 3rem;">
  <article class="d-flex d-flex__column flow">
    {% imagePlaceholder "./src/assets/images/emily-illustration.jpg", "profile", "An illustrated portrait of Emily smiling while wearing retro-shaped dark rimmed glasses", "(min-width: 30em) 50vw, 100vw", "eager" %}
    <div class="text-column flow">
      <h1>Hi there! I'm Emily.<br> An art teacher and former chocolate sculptress.</h1>
      {{ content | safe }}
    </div>
  </article>

  <div class="container__wide d-flex d-flex__column flow">
    <h2 class="center">Art Examples</h2>
    <div class="thumb-grid">
      <article>
        <a href="/classroom/" class="flow">
          {% imagePlaceholder "./src/assets/images/classroom/dot-dot-sign.jpg", "", "" %}
          <h3 style="font-size: inherit;">My Classroom<span aria-hidden="true"> &rarr;</span></h3>
        </a>
      </article>
      <article>
        <a href="/student-art/" class="flow">
          {% imagePlaceholder "./src/assets/images/student-art/monster-portrait-1.jpg", "", "" %}
          <h3 style="font-size: inherit;">Student Art<span aria-hidden="true"> &rarr;</span></h3>
        </a>
      </article>
      <article>
        <a href="/chocolate/" class="flow">
          {% imagePlaceholder "./src/assets/images/chocolate/emily-chocolate-03.jpg", "", "" %}
          <h3 style="font-size: inherit;">Chocolate Sculptures<span aria-hidden="true"> &rarr;</span></h3>
        </a>
      </article>
    </div>
  </div>

  <div class="container__wide d-flex d-flex__column flow"  style="--flow-space: 5rem;">
    <h2 class="center">In the Media</h2>
    <div class="d-flex d-flex__row flow">
      <div style="flex-basis:70%;">
        <ul>
          <li>"<a href="https://shelburnemuseum.org/exhibition/sweet-tooth-art-dessert/">Sweet Tooth: The Art of Dessert</a>"<br> Shelburne Museum, September 2017</li>
          <li>"<a href="https://www.trypticpress.com/emccracken">Chroma Magazine Interview</a>"<br> Tryptic Press, March 2016</li>
          <li>"<a href="https://www.foodnetwork.com/shows/outrageous/episodes/chocolate">Outrageous Chocolate</a>"<br> Food Network TV Special, February 2015</li>
          <li>"<a href="https://www.bostonglobe.com/lifestyle/travel/2014/04/19/hot-burlington-new-england-locavore-capital-revels-good-taste/hgrbGRu3Fee04xqd7eCN5N/story.html">Burlington, VT: Locavore Capital</a><br> The Boston Globe, April 2014</li>
        </ul>
        <p><a href="/press/" title="Emily McCracken Press">View All Press<span aria-hidden="true"> &rarr;</span></a></p>
      </div>
      <div class="media-grid" data-ideal-columns="1" style="flex-basis:30%;">
        {% youtube 'x-cA-IJmzF4', 'Chocolate Demonstration for Sweet Symposium at Shelburne Museum' %}
        {% imagePlaceholder "./src/assets/images/press/emily-mccracken-demo.jpg", "aspect-16x9", "" %}
      </div>
    </div>
  </div>


  {% include "partials/hr.njk" %}

  <article class="d-flex d-flex__column flow">
    <h2 class="center">Find me online</h2>
    <ul class="dot-list" role="list">
      <li class="d-flex">
        <span>Design updates</span>
        <span class="dots" aria-hidden="true"></span>
        <span class="align-right">
          <a href="{{ meta.social.instagram }}">Instagram</a> or <a href="{{ meta.social.dribbble }}">Dribbble</a>
        </span>
      </li>
      <li class="d-flex">
        <span>About my career</span>
        <span class="dots" aria-hidden="true"></span>
        <span class="align-right">
          <a href="resume.pdf" title="View my Resume">Resume (PDF)</a> or <a href="{{ meta.social.linkedin }}">LinkedIn</a>
        </span>
      </li>
      <li class="d-flex">
        <span>All things chocolate</span>
        <span class="dots" aria-hidden="true"></span>
        <span class="align-right">
          <a href="https://www.chocolatesculptress.com" title="My chocolate sculpture portfolio">Chocolate Sculptress</a>
        </span>
      </li>
      <li class="d-flex">
        <span>Questions or comments</span>
        <span class="dots" aria-hidden="true"></span>
        <span class="align-right">
          <a href="mailto:emilywjones@gmail.com">Contact me</a>
        </span>
      </li>
    </ul>
  </article>
</div>