<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% include "components/meta.html" %}
  </head>
  <body>
    <div class="site-wrap">
      {% include "components/site-header.html" %}

      <main tabindex="-1" id="main-content">
        <p>A work in progress</p>
        {% block content %}{% endblock %}
      </main>

      {% include "components/site-footer.html" %}
    </div>
  </body>
</html>
