{% set coreStyles = [
	'reset.css',
  'base.css'
]%}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% include 'blocks/meta.njk' %}
    <style>{{ helpers.getCSS(coreStyles, layoutStyles) | cssmin | safe }}</style>
  </head>
  <body class="{{ templateClass }}">  
    <main tabindex="-1" id="main">
      {% block content %}{% endblock %}
    </main>
  </body>
</html>