<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% include 'blocks/meta.njk' %}
    {% set css %}
      {% include "css/style.css" %}
    {% endset %}
    <style>{{ css | cssmin | safe }}</style>
  </head>
  <body class="{{ templateClass }}">
    <div class="text-column">
      <main tabindex="-1" id="main">
        <div class="center">
          <img class="profile" width="500" alt="An illustrated portrait of Emily smiling while wearing retro-shaped dark rimmed glasses" src="images/emily-illustration.jpg">
        </div>
        <h1><b>Hi there!</b> I'm&nbsp;Emily, an aspiring art teacher from northern&nbsp;Vermont.</h1>
        {{ layoutContent | safe }}
        <div class="center">
          <img width="630" height="680" loading="lazy" class="rainbow" alt="A hand-drawn boho inspired rainbow illustration. The colors are orange, yellow, and blue." src="images/rainbow-1.png">
        </div>
      </main>
    </div>
  </body>
</html>