{% set templateClass = "home" %}
{% extends 'layouts/base.njk' %}

{% block content %}
<article class="d-flex d-flex__column flow">
  <img class="profile center round" width="500" alt="An illustrated portrait of Emily smiling while wearing retro-shaped dark rimmed glasses" src="images/emily-illustration.jpg">
  <div class="text-column flow">
    <h1>Hi there! I'm Emily, an aspiring art teacher and former chocolate sculptress.</h1>
    {{ layoutContent | safe }}
  </div>
  <img class="rainbow center" width="630" height="680" loading="lazy" alt="A hand-drawn boho inspired rainbow illustration. The colors are orange, yellow, and blue." src="images/rainbow-1.svg">
</article>
{% endblock %}