{% set templateClass = "home" %}
{% extends 'layouts/base.njk' %}

{% block content %}
<article class="d-flex d-flex__column flow">
  {% imagePlaceholder "./src/images/emily-illustration.jpg", "profile", "An illustrated portrait of Emily smiling while wearing retro-shaped dark rimmed glasses", "(min-width: 30em) 50vw, 100vw", "eager" %}
  <div class="text-column flow">
    <h1>Hi there! I'm Emily.<br> An art teacher and former chocolate sculptress.</h1>
    {{ layoutContent | safe }}
  </div>
</article>
{% endblock %}