---
title: A Love of Chocolate
permalink: /chocolate/index.html
tags: nav
navtitle: Chocolate
navorder: 2
---
{% extends "layouts/page.njk" %}

{% block content %}
OK, here's the thing – I love chocolate.
{% endblock %}