---
permalink: /index.html
title: "Hi there, I'm Emily."
class: home
---
{% extends 'layouts/page.njk' %}

{% block content %}
<section class="interest-block chocolate">
	<h2>I make things out of chocolate</h2>
	<figure>
		<img src="/assets/img/image-asset-1.jpeg" alt="Emily piping chocolate onto a 30-pount chocolate turkey">
	</figure>
	<div class="copy">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua.</p>
		<p>Some even know me by <a href="https://www.chocolatesculptress.com/">the Chocolate Sculptress</a>.</p>
	</div>
</section>
<section class="interest-block teach">
	<h2>I love to teach</h2>
	<figure>
		<img src="/assets/img/IMG_7838-Edit.jpg" alt="A cut-paper thank you card with a coffee cup on it">
	</figure>
	<div class="copy">
		<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
		<p>I've taught chocolate bar making classes for Lake Champlain Chocolates and South End kitchen, and led countless demos on everything from making chocolate sculptures to dipping and decorating caramel apples.</p>
	</div>
</section>
<section class="interest-block creativity">
	<h2>And to fit creativity into every job possible</h2>
	<figure>
		<img src="/assets/img/cards2007-1194.jpg" alt="A cut-paper thank you card with a coffee cup on it">
	</figure>
	<div class="copy">	
		<p>Baking with my child, decorating cakes, creating hand-cut paper cards, mastering hand-lettering.</p>
	</div>
	
</section>
{% endblock %}