@font-face {
	font-family: 'RubikBlack';
	src: url('/assets/fonts/RubikBlack.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Rubik';
	src: url('/assets/fonts/Rubik.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}


a {
	color: inherit;
	text-decoration-color: $color-orange-dark;
	text-decoration-skip-ink: unset;
	text-decoration-style: wavy;
  	transition: .1s ease-in,box-shadow .1s ease-in,-webkit-box-shadow .1s ease-in;

	&:hover {
		background-color: $color-yellow;
		box-shadow: 0 0 0 5px $color-yellow;
		color: rgba($color-black, 1)!important;
	}

	&:focus {
		background-color: $color-blue;
		outline: 0;
		box-shadow: 0 0 0 5px $color-blue;
		color: rgba($color-black, 1)!important;
		opacity: 1;
	}
}

h1 {
	color: $color-red;
	font-family: $font-family-headline;
	font-size: 3em;
	-webkit-text-stroke: 1px $color-red-dark;
	text-shadow:
       -3px 3px 0  $color-blue,
     -1px -1px 0  $color-blue,  
      1px -1px 0  $color-blue,
      -1px 1px 0  $color-blue,
       1px 1px 0  $color-blue;

       @media (min-width: $w-medium) {
       	font-size: 4em;
       	text-shadow:
       		-5px 5px 0  $color-blue,
     		-1px -1px 0  $color-blue,  
      		1px -1px 0  $color-blue,
      		-1px 1px 0  $color-blue,
       		1px 1px 0  $color-blue;
       }
}
h2, h3, h4 {
	color: $color-red;
	font-family: $font-family-header;
}

h1, h2, h3, p, pre, ol, ul, small {
    margin-top: 1.5rem;
}

small {
	font-size: 80%;
	color: #888;

	&.footnote {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 3rem;
		padding: 10px 30px 0;
		display: inline-block;
		border-top: 1px solid #ddd;
	}
}