{%- set pageTitle = title + ' - ' + site.name %}

{# For the homepage just use the site name as the title #}
{%- if templateClass === "home" %}
  {% set pageTitle = site.name %}
{% endif %}

{%- set currentUrl = site.url + page.url %}

<title>{{ pageTitle }}</title>
<link rel="canonical" href="{{ currentUrl }}" />
<link rel="icon" sizes="144x144" href="/icon.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<meta name="theme-color" content="#ffffff">

<meta property="og:site_name" content="{{ site.name }}" />
<meta property="og:title" content="{{ pageTitle }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ currentUrl }}" />
<meta property="og:image" content="https://emilymccracken.com/images/social-share.png"/>

<meta name="twitter:image" content="https://emilymccracken.com/social-share.png"/>
<meta property="og:image:alt" content="Vermont Artist Emily McCracken"/>
<meta name="twitter:image:alt" content="Vermont Artist Emily McCracken"/>

<meta name="description" content="{{ site.description }}"/>
<meta name="twitter:description" content="{{ site.description }}"/>
<meta property="og:description" content="{{ site.description }}"/>