---
permalink: 'site.webmanifest'
---

{
  "name":"{{ site.name }}",
  "short_name":"{{ site.short_name}}",
  "icons":[
    {% for icon in site.icons %}
      {"src": "{{ icon.src }}", "sizes": "{{ icon.sizes }}", "type": "{{ icon.type }}"}{% if not loop.last %},{% endif %}
    {% endfor %}
  ],
  "theme_color":"{{ site.theme_color }}",
  "background_color":"{{ site.theme_color }}",
  "display":"standalone"
}